@model IEnumerable<QLGiaoVien.Models.GiaoVien>

@{
    ViewBag.Title = "Quản lí giáo viên";
   
}


<style>
   
    table, td, th {
        border: 1px solid black;
    }

    table {
        width: 100% border-collapse:collapse;
        height:50px;
    }

    .p-create {
        margin-left: 40px;
    }
</style>
<h1 style="color: red" >Quản lí giáo viên</h1>

<table class="table">
    <p>
        <i class="fas fa-user-plus"></i>
        @Html.ActionLink("Thêm giáo viên", "Create")
    </p>
    @using (Html.BeginForm("Index", "GiaoVien"))
    {

      
    }
<tr style="background-color: lightblue">
   
    <th>
        
        @Html.DisplayNameFor(model => model.HovaTen)

    </th>
    <th>

        @Html.DisplayNameFor(model =>model.GioiTinh)
    </th>
    <th>
       
        @Html.DisplayNameFor(model => model.Email)
    </th>
    <th>
       
        @Html.DisplayNameFor(model => model.SoDienThoai)
    </th>

    <th>
        <
        @Html.DisplayNameFor(model => model.IdChucVu)
    </th>

    <th></th>
</tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>    
                @Html.DisplayFor(modelItem => item.HovaTen)
            </td>
            <td>
                @(item.GioiTinh?"Nam":"Nữ")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>

            <td>
                @(item.ChucVu==null?"":item.ChucVu.TenChucVu)
            </td>

            <td>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
                <i class="fas fa-edit"></i>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id })
                <i class="fas fa-trash-alt"></i>
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id })

            </td>
        </tr>
    }

</table>
